<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block heading %}
    Notes
    {% endblock %}

    {% block body %}
    <p>Notes: </p>
    {% for notebook in notebooks %}
        <h2>{{ notebook.name }}</h2>
        {% for note in notebook.notes %}
            <li>{{ note.text }}</li>
        {% endfor %}
    {% endfor %}
    {% endblock %}
</body>
</html>