#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    background-color: #f0eadc;
    color: #de4f41;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
}

#content input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
}
